{:itonami.blueprint/id "cloud-itonami-4789"
 :itonami.blueprint/name "Retail Sale via Stalls and Markets of Other Goods"
 :itonami.blueprint/isic-rev5 "4789"
 :itonami.blueprint/domain :commerce/retail
 :itonami.blueprint/license "AGPL-3.0-or-later"
 :itonami.blueprint/social-impact [:local-economy :informal-economy-formalization
                                    :consumer-protection :transparency]
 :itonami.blueprint/governor :stall-market-governor
 :itonami.blueprint/robotics true
 :itonami.blueprint/required-technologies [:robotics :identity :forms :dmn :bpmn :audit-ledger :retail]
 :itonami.blueprint/optional-technologies []
 :itonami.blueprint/status :public-oss
 :itonami.blueprint/maturity :implemented}
